@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>We're Berry Recruiting, nice to meet you!</h2>
    <p>We believe people are the heart and soul of any business. But getting the right people for the job can be challenging. <strong>That's why we're here.</strong></p>
    <h2>Our Priorities</h2>
    <h3>Understanding People.</h3>
    <p>The most important part of the process is understanding what is truly needed for the role which comes from powerful relationships with our clients. Only when we understand the role and who the team is, can we find the best people for the job.</p>
    <h3>Investment in our Client's Success</h3>
    <p>Other recruiting agencies look at the bottom line of their company alone. Our priority is to be your teammate to make you goals possible. We view our work in recruiting as the first step to a successful company. And we are <em>investsed</em> in helping you build a cohesive team.</p>
</div>
