@page
@model PrivacyModel
@{
    ViewData["Title"] = "Meet the Team";
}
<head>
    <meta charset="UTF-8">
    <title>Elayna's About Me Page</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
            color: #5e6f87;
            background-color: #e4ddd8;
            font-family: 'Lucida Fax', sans-serif;
            line-height: 120%;
            font-size: 14px;
            text-align: left;
        }

        img {
            border-radius: 8px;
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .column {
            float: left;
            width: 30%;
            padding: 5px;
        }

        h1 {
            color: darkslategray;
            font-family: 'Helvetica Neue for SAS', sans-serif;
            text-align: center;
        }

        h3 {
            text-align: left;
        }

        ol {
            text-align: left;
        }

        ul {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Meet the Team</h1>
    <h3>Elayna Berry</h3>
    <p><strong>CEO</strong></p>
    <p><em>Focus in Marketing and Information Systems</em></p>
<p>Elayna started Berry Recruiting as a way to utilize her team building expertise for more businesses. She has a passion for helping teams becom ehtier best selves so that they can complete their best work. She decided to use her experience in managmenet and hiring to help othr clients build their most effect team yet.</p>
    <h3>Background</h3>
    <p>Elayna has had experience as a brand manager, marketing director, and project manager. She has helped build powerful teams for the following companies.</p>
        <ul>
            <li>Monster</li>
            <li>Kate Spade</li>
            <li>IBM</li>
            <li>Messer</li>
        </ul>
        <h3>Adam Smith</h3>
            <p><strong>COO</strong></p>
            <p><em>Focus in Finance and Operations</em></p>
            <p>Elayna started Berry Recruiting as a way to utilize her team building expertise for more businesses. She has a passion for helping teams becom ehtier best selves so that they can complete their best work. She decided to use her experience in managmenet and hiring to help othr clients build their most effect team yet.</p>
            <h3>Background</h3>
            <p>Elayna has had experience as a brand manager, marketing director, and project manager. She has helped build powerful teams for the following companies.</p>
            <ul>
                <li>Monster</li>
                <li>Kate Spade</li>
                <li>IBM</li>
                <li>Messer</li>
            </ul> <h3>Maggie Connor</h3>
            <p><strong>New Business Development</strong></p>
            <p><em>Focus in Human Resources and Sales</em></p>
            <p>Elayna started Berry Recruiting as a way to utilize her team building expertise for more businesses. She has a passion for helping teams becom ehtier best selves so that they can complete their best work. She decided to use her experience in managmenet and hiring to help othr clients build their most effect team yet.</p>
            <h3>Background</h3>
            <p>Elayna has had experience as a brand manager, marketing director, and project manager. She has helped build powerful teams for the following companies.</p>
            <ul>
                <li>Monster</li>
                <li>Kate Spade</li>
                <li>IBM</li>
                <li>Messer</li>
            </ul>
        </div>
    </div>
 
</body>
